<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8" />
        {% load static %}
        <link rel="stylesheet" href="{% static 'CRYPTCHAT_HOME.css' %}">
        <title>CRYPTCHAT</title>
	</head>

	<body>

		<!-- En-tête de la page -->
		<header class="header">
			<img src="C:\Users\IPCS\Downloads\logo.jpeg" alt="CRYPTCHAT">
			<h1>CRYPTCHAT</h1>
		</header>
		
		<!-- Le navbar -->
		<ul class="topnav">
			<li><a class="active" href="/">Home</a></li>
			<li class="right"><a href="/signin">Sign In</a></li>
			<li class="right"><a href="/signup">Sign Up</a></li>
		</ul>  
		
		<!-- Message d'accueil -->
		<h2 class="Welcome">Welcome to CryptChat</h2>
		<h3>On this site you can chat with anyone who has an account.</h3>
		<h3>You can also encrypt your message.</h3>
		<h3>We are four to have created this site.</h3>
		<h3>Our project was to create an application capable of chatting with other people via the internet, and then to be able to encrypt this message by connecting and disconnecting.</h3>
			
	</body>
	
	<!-- Le pied de page -->
	<!-- Contient le nom des personne ayant travaillé sur le site -->
	<footer>
		<p>The people who worked on this project are :</p>
		<p>Bernard Joshua</p>
		<p>Hua Thomas</p>
		<p>Srikantha Seyon</p>
		<p>Choubanne Haitame</p>
	</footer>

</html>